body {
	background: linear-gradient(130deg, rgba(97,0,128,1) 5%, rgba(208,33,202,1) 94%);
	height: 100vh;
	margin: 10vh 10vw;
}

.grid-container {
	
}

.grid-item {
	background-color: cornflowerblue;
	font-size: 40px;
	border: 2px solid #091a39;
	padding: 10px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}